@import vars.sass

body
	font-family: 'Open Sans', sans-serif
	font-size: 15px
	color: #666

// Setting up own container
.container-fluid
	@media (min-width: 1200px)
		padding-left: 80px
		padding-right: 80px

.btn_own
	border: 2px solid #23c6ec
	text-transform: uppercase
	padding: 0 25px
	height: 38px
	line-height: 35px
	color: rgba(0,0,0,.5)
	transition: 0.5s cubic-bezier(0.06, 0.68, 0.57, 1.07)
	&:hover
		background-color: #23c6ec
		color: #fff
		text-decoration: none

h2
	font-size: 22px
	font-weight: 700
	line-height: 22px
	color: #000

nav
	padding-left: 80px !important
	padding-right: 80px !important
	text-transform: uppercase
	font-size: 13px
	font-weight: 700
	background-color: #fff !important
	.nav-link
		padding: 18px !important
		position: relative
		transition: 0.5s cubic-bezier(0.06, 0.68, 0.57, 1.07)
		&::after
			content: ""
			background-color: #23c6ec
			width: 0
			height: 2px
			position: absolute
			top: 37px
			left: 18px
			transition: 0.5s cubic-bezier(0.06, 0.68, 0.57, 1.07)
	.nav-link:hover::after
		width: 20px
	.active_link
		&::after
			transition: 0.5s cubic-bezier(0.06, 0.68, 0.57, 1.07)
			content: ""
			background-color: #23c6ec
			width: 20px
			height: 2px
			position: absolute
			top: 37px
			left: 18px
	.btn_own
		margin-top: 8px

header
	height: 100vh
	padding-top: 70px
	.container-fluid
		height: 100%
		.header_bg_img
			height: 100%
			background-image: url("../img/slider1.jpg")
			background-size: cover
			background-position: center top
			.main_title
				padding-top: 25vh
				padding-left: 13%
				h1
					color: #333
					font-size: 44px
					font-weight: 700
					margin-bottom: 50px
					span
						font-size: 80px
				p
					color: #80808a
					font-size: 20px
					font-weight: 300
					margin: 0
				p.prof
					font-size: 24px

section#here_i_am
	padding: 120px 7% 95px 7%
	background-color: #fafafa
	p
		line-height: 27px