body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #666;
  overflow-x: hidden; }

a {
  text-decoration: none !important; }

@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 80px;
    padding-right: 80px; } }

.inner_sec_row {
  padding: 120px 7% 95px 7%; }

.progress-bar {
  background-color: #23c6ec; }

.btn_own {
  border: 2px solid #23c6ec;
  text-transform: uppercase;
  padding: 0 25px;
  height: 38px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.5);
  transition: 1s cubic-bezier(0.06, 0.68, 0.57, 1.07); }
  .btn_own:hover {
    background-color: #23c6ec;
    color: #fff; }

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 50px;
  color: #000; }

.nav--shamso {
  position: fixed !important;
  top: 30vh;
  left: 15px;
  display: block;
  margin: 0 !important;
  z-index: 500; }
  .nav--shamso .nav__item::before {
    background: rgba(232, 232, 232, 0.8) !important; }
  .nav--shamso .nav__item--current::after {
    box-shadow: inset 0 0 0 3px #23c6ec !important; }
  .nav--shamso .nav__item--current span {
    display: none; }
  .nav--shamso a span.nav__item-title {
    line-height: 33px !important;
    text-transform: uppercase; }

.navbar {
  padding-left: 80px !important;
  padding-right: 80px !important;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background-color: #fff !important; }
  .navbar .nav-link {
    padding: 16px !important;
    position: relative;
    transition: 0.5s cubic-bezier(0.06, 0.68, 0.57, 1.07); }
    .navbar .nav-link::after {
      content: "";
      background-color: #23c6ec;
      width: 0;
      height: 2px;
      position: absolute;
      top: 37px;
      left: 18px;
      transition: 0.5s cubic-bezier(0.06, 0.68, 0.57, 1.07); }
  .navbar .nav-link:hover::after {
    width: 20px; }
  .navbar .active_link {
    color: rgba(0, 0, 0, 0.9) !important; }
    .navbar .active_link::after {
      transition: 1s cubic-bezier(0.06, 0.68, 0.57, 1.07);
      content: "";
      background-color: #23c6ec;
      width: 20px;
      height: 2px;
      position: absolute;
      top: 37px;
      left: 18px; }
  .navbar .btn_own {
    margin-top: 8px; }

header {
  height: 100vh;
  padding-top: 70px; }
  header .container-fluid {
    height: 100%; }
    header .container-fluid .header_bg_img {
      height: 100%;
      background-image: url("../img/slider1.jpg");
      background-size: cover;
      background-position: center top; }
      @media screen and (max-width: 767px) {
        header .container-fluid .header_bg_img {
          background-image: none; } }
      header .container-fluid .header_bg_img .main_title {
        padding-top: 25vh;
        padding-left: 13%; }
        @media screen and (max-width: 480px) {
          header .container-fluid .header_bg_img .main_title {
            padding-top: 15vh; } }
        header .container-fluid .header_bg_img .main_title h1 {
          color: #333;
          font-size: 2.5em;
          font-weight: 700;
          margin-bottom: 50px; }
          header .container-fluid .header_bg_img .main_title h1 span {
            font-size: 1.8em; }
        header .container-fluid .header_bg_img .main_title p {
          color: #80808a;
          font-size: 1.3em;
          font-weight: 300;
          margin: 0; }
        header .container-fluid .header_bg_img .main_title p.prof {
          font-size: 1.5em; }
      header .container-fluid .header_bg_img .look_portfolio {
        padding-left: 13%;
        margin-top: 10%;
        text-transform: uppercase; }
        header .container-fluid .header_bg_img .look_portfolio a {
          color: #80808a;
          font-size: 1em;
          font-weight: 300; }

section#about .inner_sec_row {
  background-color: #fafafa; }
  section#about .inner_sec_row p {
    line-height: 27px; }

section#skills .percent {
  float: right; }
section#skills .progress {
  margin-bottom: 50px; }
  section#skills .progress .progress-bar {
    transition: 3s cubic-bezier(0.06, 0.68, 0.57, 1.07); }
section#skills #circle {
  text-align: center; }
section#skills .circle_value {
  text-align: center;
  position: relative;
  top: -133px; }
  section#skills .circle_value span {
    font-size: 20px;
    font-weight: 700;
    color: #000; }

section#work .inner_sec_row {
  background-color: #fafafa; }
  section#work .inner_sec_row .action--close i {
    color: #23c6ec; }
  section#work .inner_sec_row .img-wrap {
    position: relative;
    color: #fff; }
  section#work .inner_sec_row .overlay_grad {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
    opacity: 0;
    transition: 1s cubic-bezier(0.06, 0.68, 0.57, 1.07); }
    section#work .inner_sec_row .overlay_grad:hover {
      opacity: 1; }
    section#work .inner_sec_row .overlay_grad h3 {
      font-size: 16px;
      margin: 0; }
    section#work .inner_sec_row .overlay_grad p {
      font-size: 12px; }
  section#work .inner_sec_row .grid .grid__item {
    width: 230px !important; }

section#experience .inner_sec_row {
  background-image: url("../img/exb2.jpg");
  background-size: cover; }
  section#experience .inner_sec_row h2 {
    color: #fff; }
  section#experience .inner_sec_row .exp_item {
    margin-bottom: 50px; }
    section#experience .inner_sec_row .exp_item h3 {
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px; }
      section#experience .inner_sec_row .exp_item h3 i {
        color: #23c6ec; }
    section#experience .inner_sec_row .exp_item p {
      color: rgba(255, 255, 255, 0.75);
      line-height: 27px;
      letter-spacing: 0.5px; }

section#clients .inner_sec_row a {
  opacity: 0.5;
  transition: 1s cubic-bezier(0.06, 0.68, 0.57, 1.07); }
  section#clients .inner_sec_row a:hover {
    opacity: 0.9; }
  section#clients .inner_sec_row a img {
    width: 100%; }

section#testimonial .inner_sec_row {
  background-image: url("../img/testimonial-bg.jpg"); }
  section#testimonial .inner_sec_row h2 {
    color: #fff; }
  section#testimonial .inner_sec_row .carousel {
    margin-bottom: 50px; }
    section#testimonial .inner_sec_row .carousel .carousel-item {
      color: #fff;
      flex-direction: column;
      align-items: flex-start; }
      section#testimonial .inner_sec_row .carousel .carousel-item img {
        border-radius: 3px;
        margin-bottom: 15px; }
      section#testimonial .inner_sec_row .carousel .carousel-item h3 {
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 30px; }
        section#testimonial .inner_sec_row .carousel .carousel-item h3 span {
          font-size: 12px; }
      section#testimonial .inner_sec_row .carousel .carousel-item q {
        font-size: 18px;
        line-height: 27px;
        font-style: italic; }
    section#testimonial .inner_sec_row .carousel .carousel-indicators {
      bottom: -45px;
      justify-content: flex-start;
      margin-left: 0;
      margin-right: 0; }
      section#testimonial .inner_sec_row .carousel .carousel-indicators li {
        max-width: 10px;
        height: 10px;
        border-radius: 50%; }

section#blog .inner_sec_row {
  background-color: #fafafa; }
  section#blog .inner_sec_row .carousel .carousel-indicators {
    bottom: -45px;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0; }
    section#blog .inner_sec_row .carousel .carousel-indicators li {
      background-color: #ddd;
      max-width: 10px;
      height: 10px;
      border-radius: 50%; }
    section#blog .inner_sec_row .carousel .carousel-indicators .active {
      background-color: #23c6ec; }
  section#blog .inner_sec_row .carousel .carousel-item h3 a {
    color: #444;
    font-size: 18px; }
  section#blog .inner_sec_row .carousel .carousel-item p.date {
    color: #c5c5c5;
    font-size: 12px; }
  section#blog .inner_sec_row .carousel .carousel-item p {
    color: #9B9B9B;
    font-size: 15px;
    line-height: 27px; }

section#contact {
  margin-bottom: 50px; }
  section#contact .inner_sec_row {
    background-image: url("../img/contact.jpg");
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px; }
    section#contact .inner_sec_row h2 {
      color: #fff; }
    section#contact .inner_sec_row form input {
      border: none;
      border-radius: 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      padding-left: 0;
      padding-right: 0;
      outline: none;
      background-color: transparent;
      transition: 1s cubic-bezier(0.06, 0.68, 0.57, 1.07); }
      section#contact .inner_sec_row form input:focus {
        border-bottom: 2px solid #23c6ec; }
    section#contact .inner_sec_row form input.input_inline_own {
      width: 45%;
      margin: 0 2%;
      display: inline; }
    section#contact .inner_sec_row form input#message_input {
      width: 95%;
      margin: 50px 2% 20px 2%; }
    section#contact .inner_sec_row form .btn_submit {
      color: #fff;
      background-color: #23c6ec;
      margin-bottom: 50px;
      font-size: 14px;
      font-weight: 600;
      height: 45px;
      margin: auto; }

footer {
  background-color: #fff;
  padding: 20px 0; }
  footer p.copyright {
    display: inline;
    font-size: 12px;
    line-height: 22px;
    margin: 0; }
    footer p.copyright a {
      color: #444; }
  footer .social {
    display: inline;
    float: right; }
    footer .social a {
      margin-left: 5px; }
      footer .social a i.fa-facebook {
        color: #3b5998; }
      footer .social a i.fa-twitter {
        color: #1da1f2; }
      footer .social a i.fa-google-plus {
        color: #dd4b39; }
      footer .social a i.fa-vk {
        color: #45668e; }
      footer .social a i.fa-github {
        color: #333; }
  @media screen and (max-width: 515px) {
    footer .container-fluid {
      text-align: center; }
    footer .social {
      width: 100%;
      text-align: center; } }

#topcontrol {
  bottom: 20px !important;
  right: 20px !important;
  z-index: 5000; }
  #topcontrol img {
    width: 25px; }
  @media screen and (max-width: 1199px) {
    #topcontrol {
      display: none; } }

/*# sourceMappingURL=main.css.map */
